<h2>新しい棚を作る</h2>

<%= form_with model: @shelf, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "棚を作成" %>
  </div>
<% end %>