<h2><%= t('devise.registrations.edit.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email, t('devise.registrations.edit.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t('devise.registrations.edit.password') %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('devise.registrations.edit.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, t('devise.registrations.edit.current_password') %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit t('devise.registrations.edit.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<hr class="my-4">

<%= button_to t('devise.registrations.edit.cancel_account'),
              registration_path(resource_name),
              data: { confirm: "本当に削除しますか？" },
              method: :delete,
              class: "btn btn-danger" %>

<%= link_to t('devise.registrations.edit.back'), :back, class: "btn btn-secondary mt-2" %>
